version: '3'
services:
  express-app:
    container_name: express-app-container
    image: diaabadr/nodejs-app
    ports:
      - "3000:8000"
    env_file:
      - ./.env
  nginx:
    image: nginx:stable-alpine
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/sites-enabled/default.conf  
    depends_on:
      - express-app  


 
